Repository jskrable/the-boysens: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, stage-lint

lint:
  run: pnpm biome check {staged_files} --apply

format:
  run: pnpm biome format {staged_files} --write

stage-lint:
  run: git add {staged_files}

fix loading bar, start adding memory function
  app/@types/dom.ts
  app/components/button.tsx
  app/components/drawer.tsx
  app/layout.tsx
  app/loading.tsx
  app/memories/page.tsx
  package.json
Due: lint, format, stage-lint

add memory feature mostly done
  app/components/button.tsx
  app/components/memory.tsx
  app/loading.tsx
  app/memories/AddMemory.tsx
  app/memories/ShowMemories.tsx
  app/memories/page.tsx
Due: lint, format, stage-lint

add splashed video randomizer
  app/media/videos/RightsViolation.tsx
  app/media/videos/SplashedIt.tsx
  app/page.tsx
  public/videos/splashed-it.mov
Due: lint, format, stage-lint

invalidate cache on memory submission
  app/components/button.tsx
  app/components/memory.tsx
  app/components/video.tsx
  app/media/videos/RightsViolation.tsx
  app/memories/AddMemory.tsx
  app/memories/ShowMemories.tsx
  app/memories/actions.ts
  app/memories/page.tsx
Due: lint, format, stage-lint

biome v1.6.3 rule updates
  app/components/button.tsx
  app/components/link.tsx
  app/components/memory.tsx
  app/components/modal.tsx
  app/components/typography.tsx
  app/layout.tsx
  app/memories/ShowMemories.tsx
  app/memories/page.tsx
  biome.json
  db/seed.ts
Due: lint, format, stage-lint

prisma update
  app/memories/page.tsx
  docker-compose.yml
Due: lint, format, stage-lint

memories and navbar update
  app/components/button.tsx
  app/components/memory.tsx
  app/components/navbar.tsx
  app/layout.tsx
  app/memories/AddMemory.tsx
  app/memories/ShowMemories.tsx
  app/memories/page.tsx
  package.json
  pnpm-lock.yaml
Due: lint, format, stage-lint

update home videos
  app/components/button.tsx
  app/components/icons/ArrowRight.tsx
  app/components/icons/NavMenu.tsx
  app/components/icons/types.ts
  app/components/modal.tsx
  app/components/navbar.tsx
  app/components/video.tsx
  app/media/videos/HomeVideos.tsx
  app/media/videos/RightsViolation.tsx
  app/media/videos/SplashedIt.tsx
  app/memories/AddMemory.tsx
  app/page.tsx
  db/client.ts
Due: lint, format, stage-lint

upgrade next
  package.json
  pnpm-lock.yaml
Due: stage-lint

small changes
  app/components/footer.tsx
  app/components/modal.tsx
  app/components/navbar.tsx
  app/layout.tsx
  app/media/videos/HomeVideos.tsx
  app/memories/AddMemory.tsx
  app/memories/ShowMemories.tsx
  app/page.tsx
  app/resources/page.tsx
  app/utils/userAgent.ts
  db/seed.ts
  package.json
  pnpm-lock.yaml
Due: lint, format, stage-lint

small navbar style updates
  app/components/icons/Home.tsx
  app/components/navbar.tsx
  app/page.tsx
  app/resources/page.tsx
Due: lint, format, stage-lint

app docker setup
  Dockerfile
  db/schema.prisma
  docker-compose.yml
  docker.env
  next.config.js
Due: stage-lint

app docker setup
  .env
  Dockerfile
  db/schema.prisma
  docker-compose.yml
  docker.env
  next.config.js
Due: stage-lint

small mobile style fixes
  .env
  app/components/link.tsx
  app/components/navbar.tsx
  app/layout.tsx
  app/media/videos/HomeVideos.tsx
  app/page.tsx
Due: lint, format, stage-lint

small mobile style fixes
  app/components/link.tsx
  app/components/navbar.tsx
  app/layout.tsx
  app/media/videos/HomeVideos.tsx
  app/page.tsx
Due: lint, format, stage-lint

memory top button for mobile, link from home
  .env
  app/components/modal.tsx
  app/components/navbar.tsx
  app/memories/AddMemory.tsx
  app/memories/ShowMemories.tsx
  app/memories/page.tsx
  app/page.tsx
Due: lint, format, stage-lint

memory top button for mobile, link from home
  app/components/modal.tsx
  app/components/navbar.tsx
  app/memories/AddMemory.tsx
  app/memories/ShowMemories.tsx
  app/memories/page.tsx
  app/page.tsx
Due: lint, format, stage-lint

api health check, remove in progress pages from navbar, add railway config
  app/api/health/route.ts
  app/components/navbar.tsx
  app/components/video.tsx
  railway.toml
Due: lint, format, stage-lint

favicons
  app/favicon-16x16.png
  app/favicon-32x32.png
  app/favicon.ico
  railway.toml
Due: none

add some deployment and hosting details
  package.json
  readme.md
Due: stage-lint

add some deployment and hosting details
  app/page.tsx
  package.json
  readme.md
Due: lint, format, stage-lint

add resources page to navbar and add harm redux blurb
  .gitignore
  app/components/navbar.tsx
  app/resources/page.tsx
Due: lint, format, stage-lint

update some dependabot security upgrades
  .yarnrc.yml
  app/components/navbar.tsx
  package.json
  pnpm-lock.yaml
Due: lint, format, stage-lint

chore(deps): upgrade next and react
  app/@types/dom.ts
  app/layout.tsx
  app/utils/userAgent.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, format, stage-lint

Path conditions:
  lint: any of: app/*.{js,ts,jsx,tsx}
  format: any of: app/*.{js,ts,jsx,tsx}
  stage-lint: any of: *.{json,js,jsx,ts,tsx}
